<h1><%= EventProfile.model_name.human(count: 2) %></h1>

<%= render partial: 'shared/pie_chart',
           locals: {
             name: 'profile_pie_chart',
             data: @event_source.profile_pie_chart_data
           } %>

<table class=table>
  <thead>
    <tr>
      <th><%= EventSourceProfileStat.human_attribute_name(:name) %></th>
      <th><%= EventSourceProfileStat.human_attribute_name(:cnt) %></th>
    </tr>
  </thead>
  <tbody>
    <% @event_source.profile_stats.each do |profile_stat| %>
      <tr>
        <td><%= profile_stat.name %></td>
        <td><%= profile_stat.cnt %></td>
      </tr>
    <% end %>
  </tbody>
</table>
