    <% if @event_profile.has_notes? %>
      <div id='midi_fields' style='display:none;'>
        <% @event.midi_notes.each_with_index do |midi_note,index| %>
          <input type='hidden' 
                 name="event[midi_notes][<%=index%>]"
                 value="<%= midi_note %>" />
        <% end %>
      </div>

      Select <%= @event_profile.no_of_notes %> <%= Note.model_name.human(count: @event_profile.no_of_notes) %> 
      <div class='notes_field'>
        <% @event.octaves.each do |octave| %>
          <%= render 'octave_field', octave: octave %>
        <% end %>
      </div>

    </div>
  <% end %>

