<%= form_for(@event) do |f| %>

  <%= hidden_field_tag :note_requirement, @event_profile.no_of_notes %>

  <p>
    <%= f.label :source %>
    <%= f.text_field :source %>
  </p>


  <div id='main_form' style="display:none;">

    <p>
      <%= f.label :event_profile_id %>
      <%= f.select :event_profile_id, EventProfile.select_options %>
    </p>

    <p>
      <%= f.label :length %>
      <%= f.select :length, Event.length_options %>
    </p>

    <%= render :partial => 'form_notes' %>

    <%= render :partial => 'form_samples', :locals => {:f => f} %>

<% end %>
