<%= form_for(@event) do |f| %>

  <p>
    <%= f.label :event_profile_id %>
    <%= f.select :event_profile_id, EventProfile.select_options %>
  </p>

  <p>
    <%= f.label :source %>
    <%= f.text_field :source %>
  </p>

  <p>
    <%= f.label :length %>
    <%= f.select :length, Event.length_options %>
  </p>

  <%= f.hidden_field :midi_notes %>
  <div class='notes_field'>
    <% @event.octaves.each do |octave| %>
      <%= render 'octave_field', octave: octave %>
    <% end %>
  </div>

<% end %>
