<%= form_for(@event) do |f| %>

  <%= hidden_field_tag :note_requirement, @event_profile.no_of_notes %>

  <p>
    <%= f.label :source %>
    <%= f.text_field :source %>
  </p>


  <div id='main_form' style="display:none;">

    <p>
      <%= f.label :event_profile_id %>
      <%= f.select :event_profile_id, EventProfile.select_options %>
    </p>

    <div class="btn-group" data-toggle="buttons">
      <% @event_profile.lengths.each do |length| %>
        <label class="btn btn-primary <%= "active" if length.id == @event.length_id %>">
          <input type="radio" name='event[length_id]' value='<%= length.id %>'>
            <%= image_tag "/assets/notes/#{length.image}", 
                          alt: length.name,
                          title: length.name,
                          class: 'length_image' %>
          </input>
        </label>
      <% end %>
    </div>

    <br/>

    <%= render :partial => 'form_notes' %>

    <%= render :partial => 'form_samples', :locals => {:f => f} %>

<% end %>
