<div class='octave'>
  <div 
    class='octave_label'
    id='octave_<%= octave %>'
  >
    Octave <%= octave %>
  </div>
  <% Note::NOTE_NAMES.each_with_index do |note_name,index| %>
      
    <% midi_note = (octave.to_i * 12) + index %>
    <% note = Note.find_by_midi_note(midi_note) %>
    <% if Scale.current.note_indexes.include?(index) and 
         midi_note >= @event_profile.min_note and 
         midi_note <= @event_profile.max_note
         note_active = true
       else
         note_active = false
       end
    %>
    <div 
      class='
        note 
        <%= note_colour(note_name) %> 
        <%= note_name.gsub('#','-sharp') %>
        <%= note_active ? 'active' : 'inactive' %>
      '
      data-value='<%= note.midi_note %>'
    >
      <%= note_name %>
    </div>
  <% end %>
</div>
