<canvas id='note_names_chart' width ='350px' height='200px'></canvas>
<script type='text/javascript'>
  var ctx = $('#note_names_chart').get(0).getContext('2d');
  
  var data = <%= raw NoteStat.note_names_bar_data %>;

  var bar_options = {
    animation: false,
    barValueSpacing: 0
  }

  var colour_chart = new Chart(ctx).Bar(data,bar_options);
</script>

<table class='table'>
  <thead>
    <tr>
      <td><%= NoteStat.human_attribute_name(:name) %></td>
      <td><%= NoteStat.human_attribute_name(:cnt)%></td>
    </tr>
  </thead>
  <tbody>
    <% NoteStat.note_name_stats.sort_by{|l,v| v}.reverse.each do |name,cnt| %>
      <tr>
        <td><%= name %></td>
        <td><%= cnt  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
