<%= render(
      partial: 'shared/pie_chart',
      locals: {
        name: "colour_chart",
        data: NoteStat.colour_stats_pie_data
      }
    )
%>

<table class='table'>
  <thead>
    <tr>
      <th><%= t('.colour') %></th>
      <th><%= t('count') %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= t('.white') %></td>
      <td><%= NoteStat.white_note_count %></td>
    </tr>
    <tr>
      <td><%= t('.black') %></td>
      <td><%= NoteStat.black_note_count %></td>
    </tr>
  </tbody>
</table>
