<h1><%= NoteStat.model_name.human(count: 2) %></h1>

<div class='text-center'>
  <div class='massive_stat'>
    <%= @note_count %>
  </div>
  notes have been played.
</div>

<%= render(
      partial: 'shared/bar_chart',
      locals: {
        data: NoteStat.note_names_bar_data,
        name: "note_names_chart"
      }
    )
%>

<%= render partial: 'note_colours' %>

<table class='table'>
  <thead>
    <tr>
      <th><%= NoteStat.human_attribute_name(:name) %></th>
      <th><%= NoteStat.human_attribute_name(:cnt)%></th>
    </tr>
  </thead>
  <tbody>
    <% NoteStat.note_name_stats.sort_by{|l,v| v}.reverse.each do |name,cnt| %>
      <tr>
        <td><%= name %></td>
        <td><%= cnt  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
