<h2><%= SampleStat.model_name.human(count: 2) %></h2>

<div class='text-center'>
  <div class='massive_stat'>
    <%= @sample_count %>
  </div>
  samples have been played.
</div>

<canvas id='sample_names_chart' width ='350px' height='200px'></canvas>
<script type='text/javascript'>
  var ctx = $('#sample_names_chart').get(0).getContext('2d');
  
  var data = <%= raw SampleStat.bar_data %>;

  var bar_options = {
    animation: false,
    barValueSpacing: 0
  }

  var colour_chart = new Chart(ctx).Bar(data,bar_options);
</script>


<table class='table'>
  <thead>
    <tr>
      <th><%= SampleStat.human_attribute_name(:name) %></th>
      <th><%= SampleStat.human_attribute_name(:cnt) %></th>
    </tr>
  </thead>
  <tbody>
    <% @sample_stats.each do |stat| %>
      <tr>
        <td><%= stat.name %></td>
        <td><%= stat.cnt %></td>
      </tr>
    <% end %>
  </tbody>
</table>
