<!DOCTYPE html>
<html lang="en">
<head>
  <title>ScaledUp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag params[:controller] %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'icon.ico' %>
  <meta name="viewport" 
        content="width=device-width, 
                 initial-scale=1,                 
                 maximum-scale=1,
                 user-scalable=no">

</head>
<body>

  <div class='container'>

    <div class='header'>
      <%= image_tag 'header-big.jpg', class: 'img-responsive' %>
      <%= render :partial => 'layouts/conductor_menu' %>
      <%= render :partial => 'layouts/flash_message' %>
      <div class='end_spacer'/>
    </div> 

    <div class='main'>

      <%= yield %>

    </div>
    <div id='after_main'>
      <%= yield :after_main %>
    </div> 
    <div class='end_spacer'></div>  
  </div>


</body>
</html>
