<!DOCTYPE html>
<html>
<head>
  <title>ScaledUp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag params[:controller] %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class='holder'>

    <div class='header'>
      <h1><%= t('.title') %></h1>
      <%= render :partial => 'layouts/conductor_menu' %>
      <%= render :partial => 'layouts/flash_message' %>
    </div> 

    <div class='main'>

      <%= yield %>

    </div>
    <div id='after_main'>
      <%= yield :after_main %>
    </div> 
  </div>

</body>
</html>
